/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f4f4f9;
  --primary-color: #272b33;
  --accent-color: #5F7BB3;
  --text-color: #332f27;
  --white: #ffffff;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  flex: 1;
  margin-top: 60px; /* Adjust based on the height of the header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px; /* Adjust based on the height of the footer */
}

a {
  text-decoration: none;
  color: inherit; /* Ensures links inherit color from their parent element */
}

/* Header Styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--primary-color);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-size: 24px;
  color: var(--white);
}

/* Dropdown Menu Styles */
nav {
  position: relative;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--white);
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--text-color);
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--accent-color);
  color: var(--white);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--white);
  position: relative;
  width: 100%;
  margin-top: auto; /* Ensures the footer stays at the bottom */
}

/* Landing Page Styles */
.hero {
  position: relative;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-banner {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 90%;
}

.hero-text {
  color: var(--primary-color);
}

.hero-text h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 18px;
  margin: 10px 0;
}

.enter-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--accent-color);
  border: none;
  color: var(--white);
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s, transform 0.2s;
}

.enter-button:hover {
  background-color: #4e6b9c;
}

.enter-button:active {
  transform: translateY(2px);
}

/* Home Page (Nav) Styles */
main.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Adjusts the content alignment */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(40, 44, 52, 0.3);
  width: 200px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: var(--primary-color);
}

.card p {
  font-size: 1em;
  color: var(--text-color);
}

.card .extra-content {
  display: none;
  font-size: 0.9em;
  color: var(--text-color);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1000px) {
  .card {
    width: 300px;
  }

  .card .extra-content {
    display: block;
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}

/* About Me Page Styles */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.profile-picture img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.bio {
  max-width: 600px;
}

.skills, .experience {
  margin-top: 40px;
  text-align: center;
}

.skills ul {
  list-style-type: none;
  padding: 0;
}

.skills li {
  background-color: var(--primary-color);
  color: var(--white);
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
}

.experience p {
  max-width: 600px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .about {
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }

  .profile-picture {
    margin-right: 20px;
  }

  .bio {
    max-width: none;
  }
}

/* Portfolio Page Styles */
.portfolio {
  text-align: center;
  padding: 60px 20px;
}

.portfolio h1 {
  font-size: 36px;
  margin-bottom: 40px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.portfolio-card {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(40, 44, 52, 0.3);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}

.portfolio-card img {
  width: 100%;
  height: auto;
}

.portfolio-card h2 {
  font-size: 1.5em;
  color: var(--primary-color);
  margin: 20px 0 10px;
}

.portfolio-card p {
  font-size: 1em;
  color: var(--text-color);
  padding: 0 20px 20px;
}

.portfolio-button, .github-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--white);
  border: none;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.2s, transform 0.2s;
  margin-left: 10px; /* Adjust spacing if needed */
}

.portfolio-button:hover, .github-button:hover {
  background-color: #3e8e41; /* Green color for hover effect */
}

.portfolio-button:active, .github-button:active {
  transform: translateY(2px);
}
.portfolio-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (min-width: 600px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .portfolio-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Contact Page Styles */
.contact {
  text-align: center;
  padding: 60px 20px;
}

.google-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.google-form iframe {
  border: 0;
  width: 100%;
  height: 100vh; /* Adjust the height as needed */
  max-width: 640px;
}

/* Ensure the iframe is properly sized on larger screens */
@media (min-width: 768px) {
  .google-form iframe {
    width: 640px; /* Fixed width on larger screens */
    height: 956px; /* Fixed height on larger screens */
  }
}


/* Blog Page Styles */
.blog {
  text-align: center;
  padding: 60px 20px;
}

.blog h1 {
  font-size: 36px;
  margin-bottom: 40px;
}

.blog-posts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.blog-post {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(40, 44, 52, 0.3);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}

.blog-post img {
  width: 100%;
  height: auto;
}

.blog-post h2 {
  font-size: 1.5em;
  color: var(--primary-color);
  margin: 20px 0 10px;
}

.blog-post p {
  font-size: 1em;
  color: var(--text-color);
  padding: 0 20px 20px;
}

.blog-post a {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--white);
  border: none;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.2s, transform 0.2s;
}

.blog-post a:hover {
  background-color: #4e6b9c;
}

.blog-post a:active {
  transform: translateY(2px);
}

.blog-post:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (min-width: 600px) {
  .blog-posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .blog-posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Under Construction Page Styles */
.under-construction {
  text-align: center;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px); /* Adjusting for header and footer height */
}

.under-construction h1 {
  font-size: 36px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.under-construction p {
  font-size: 18px;
  color: var(--text-color);
}
