* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f4f4f9;
  --primary-color: #272b33;
  --accent-color: #5F7BB3;
  --text-color: #332f27;
  --white: #ffffff;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--primary-color);
  z-index: 10;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-size: 24px;
  color: var(--white);
}

.hero {
  position: relative;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-banner {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 90%;
}

.hero-text {
  color: var(--primary-color);
}

.hero-text h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 18px;
  margin: 10px 0;
}

.enter-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--accent-color);
  border: none;
  color: var(--white);
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s, transform 0.2s;
}

.enter-button:hover {
  background-color: #4e6b9c;
}

.enter-button:active {
  transform: translateY(2px);
}

footer {
  text-align: center;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--white);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(40, 44, 52, 0.3);
  width: 200px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: var(--primary-color);
}

.card p {
  font-size: 1em;
  color: var(--text-color);
}

.card .extra-content {
  display: none;
  font-size: 0.9em;
  color: var(--text-color);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1000px) {
  .card {
    width: 300px;
  }

  .card .extra-content {
    display: block;
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}
